.body{
    background-color: white;
    color: black;

}

.carousel-inner{
    width: 200px;
    height: 650px;
}

.preview-card{
    width: 200px;
    height: 310px;
    margin: left;
    
}

.logo{
    border-radius: 20rem;
}






