.body{
    background-color: white;
    color: black;

}

.carousel-inner{
    width: 200px;
    height: 650px;
}

.preview-card{
    width: 200px;
    height: 310px;
    margin: left;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fthertwguys.com%2Fdiving-two-oceans-aquarium%2F&psig=AOvVaw0UXdLjMK3TmAwU0T3A1aWO&ust=1685693064056000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCIDGiZTOof8CFQAAAAAdAAAAABAE);
}




