.body{
    background-color: white;
    color: black;

}

.carousel-inner{
    width: 200px;
    height: 650px;
}

.preview-card{
    width: 200px;
    height: 310px;
    margin: left;
    
}

.logo{
    border-radius: 20rem;
}

.background {
    background-image: url(https://plus.unsplash.com/premium_photo-1664304284049-52d5d7b139cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzN8fGZpc2glMjBmb29kc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60);
    width: 50px;
    height: 100px;
}




